

{% extends 'base.html.twig' %}
{% block container %}

        <div class="form-panel">
<br>
            <br>
            <br>

            <center>
    <h1>Créer un camp</h1>
                <br>

    {{ form_start(form) }}
        {{ form_widget(form) }}
                <br>
                <br>
        <input type="submit" class="btn btn-theme" value="valider" />
    {{ form_end(form) }}


                <br>
                <br>
                <br>


            </center>
        </div>


{% endblock %}
