{% extends 'base.html.twig' %}

{% block container %}

        <div class="form-panel">
            <center>
    <h1>Camp creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" class="btn btn-theme" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('camp_index') }}">Back to the list</a>
        </li>
    </ul>
            </center>
        </div>

{% endblock %}
