

{% block container %}
    <center>
        <div class="row mt">
            <div class="col-md-12">
                <h1><i class="fa fa-angle-right">Camp </h1>
                <br>
                <br>
                <br>
                <style>
                    table tr:nth-child(even) {
                        background-color: #b0f2b6;
                    }
                    th {
                        background-color: #696969;
                        color: springgreen;
                    }

                    h1
                    {
                        font-size:300%;
                        color:forestgreen;

                    }


                </style>
                <table style="width:100%" class="table table-striped table-advance table-hover">

                    <thead>
                    <tr>
                        <th>Numero</th>

                        <th>Lieu</th>

                        <th>Capacite</th>

                    </tr>
                    </thead>
                    <tbody>

                    <tr>
                        <td><a href="{{ path('camp_show', { 'id': camp.id }) }}">{{ camp.id }}</a></td>


                        <td>{{ camp.lieu.lieu }}</td>


                        <td>{{ camp.capacite }}</td>

                    </tr>

                    </tbody>
                </table>

            </div>
        </div>

    </center>
{% endblock %}
